/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 42px;
    }
    .top-wrapper h2 {
        opacity: 0.9;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }
    .heading h2 {
        font-size: 20px;
    }
    h1 {
        color: rgb(255, 255, 255);
    }

}

@media all and (max-width: 790px) {
    .header-right {
        display: none;
    }
    span.menu-icon {
        display: block;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    h1 {
        color: rgb(255, 255, 255);
    }
    .header-right {
        display: none;
    }
    span.menu-icon {
        display: block;
    }
    .lesson {
        width: 100%;
    }

    footer {
        text-align: center;
    }
    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    } 
    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }
    .btn {
        width: 100%;
    }

    .signup {
        background-color: #ee5b20;
        width: 50%;
    }
    .facebook {
        margin-bottom: 10px;
        background-color: #3b5998;
        margin-right: 10px;
        width: 50%;
    }
    .twitter {
        background-color: #55acee;
        width: 50%;
    }

    .message {
        padding: 15px 40px;
        width: 50%;
        background-color: #dd0c0c;
     
    }
}
