/* Mulai code Anda dari baris terakhir */

* {
    box-sizing: border-box;
  }
  
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(images/radek-grzybowski-eBRTYyjwpRY-unsplash.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper h2 {
    opacity: 0.7;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 3px;
}

.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.signup {
    margin-top: 20px;
    background-color: #ee5b20;
}

.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}

.twitter {
    background-color: #55acee;
}

.twitter:hover {
    background-color: #1495f8;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
    cursor: pointer;
}

.facebook:hover {
    background-color: #123e9c;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
    cursor: pointer;
}

.signup:hover {
    background-color: #ff4800;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
    cursor: pointer;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 1;
    border-radius: 99px;
    text-align: center;
}

.fa {
    margin-right: 5px;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(221, 12, 12, 0.986);
    position :fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 20px 3px rgb(0 0 0);
}

.logo {
    width: 45px;
    margin-top: 10px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgb(255, 255, 255);
    color: #303030;
}

/* BODY */
.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: #f7f7f7; */
    background: linear-gradient(180deg,#eeeeee,#ffffff,#ffffff);
    text-align: center;
}
.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #303030;
}

.heading h2 {
    font-weight: normal;
}

.lesson {
    float: left;
    width: 25%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon img{
    height: 100px;
}

.lesson-icon:hover img {
    -webkit-transform: scale(1.18);
    transform: scale(1.18);
    cursor: pointer;
  }

.lesson-icon p {
    margin-top: 10px;
    font-weight: bold;
    position: absolute;
    top: 100%;
    width: 100%;
    color: #303030;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 40px;
    font-size: 15px;
    color: #303030;
}
.garis{
    height: 2px;
    background-color: #dd0c0c;
}
.heading h3 {
    font-weight: normal;
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #dd0c0c;
    cursor: pointer;
    font-weight: bold;
    /* box-shadow: 0 7px #1a7940; */
}

.message:hover {
    background-color: #ff1e1e;

}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

/* FOOTER */
footer img {
    width: 125px;
    text-align: center;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* HAMBURGER BUTTON */
span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}
  
